.SkillsSection {
    padding: 3rem;
    margin: 0 3rem;
    overflow: hidden;
}
.SkillsHeader {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
.SkillsTrack {
    display: flex;
    width: max-content;
    animation: scroll 50s linear infinite;
}
.SkillsGroup {
    display: flex;
    flex-shrink: 0;
    padding-right: 0.4%;
}
.SkillsTrack:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@media (prefers-reduced-motion: reduce) {
    .SkillsTrack {
        animation: none;
    }
}
